*{
    margin: 0;
    padding: 0;
}


body{
    background-color: black;
}

.main{
    gap: 10px;
}
.mainbox1{
    height: 105vh;
    width: 29vw;
    flex-direction: column;
    gap: 10px;
    
}
.mainbox1-1{
    height: 27vh;
    width: 26vw;
    background-color: #121212;
    flex-direction: column;
    gap: 5px;
    padding: 20px 1px 1px 25px;
}
.mainbox1-1-logo{
    height: 30px;
}
.mainbox1-1-home ul {
    display: flex;
    margin-top: 12px;
    gap: 18px;
    flex-direction: column;
}
.mainbox1-1-home ul li{
    list-style: none;
    gap: 15px;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 16px;
}
.mainbox1-1-home ul li img{
    height: 4vh;
}
.mainbox1-2{
    height: 90vh;
    width: 29vw;
    background-color: #121212;
}
.box1-21{
    padding-top: 1px;
}
.box1-211{
    font-family: sans-serif;
    height: 45px;
    max-width: 40vw;
    justify-content: space-between;
    top: 0;
}
.lib{
    margin-left: 25px;
    padding-bottom: 10px;
    gap: 11px;
}

.boxplus{
    width: 16px;
    margin-right: 18px;
}
.box1-22{
    height: 66px;
    gap: 10px;
}
.box1-22 ul{
    font-family: sans-serif;
    font-weight: 700;
    gap: 20px;
    padding-top: 22px;
}
.box1-22 ul li{
    list-style: none;
}
.box1-23 button{
    border-radius: 20px;
    background-color: black;
    color: white;
    border: 0.5px solid white;
    width: 7vw;
    height: 6vh;
    font-weight: 700;
}
.box1-23 img{
    width: 15px;
}
.mainbox2{
    position: relative;
    height: 105vh;
    max-height: 105vh;
    overflow: scroll;
    width: 100%;
    background-color: #121212;
    
}
.box2nav{
    justify-content: space-between;
    height: 15vh;
 
}   
.box2nav1{
    gap: 20px;
    padding-left: 40px;
    padding-top: 10px;
}

.box2nav4:hover{
    color: white;
    font-size: 18px;
}
.box2nav5{
    padding-right: 30px;
}
.box2nav5 button{
    border-radius: 50px;
    height: 50px;
    width: 110px;
    font-weight: 700;
    font-size: 15px;
    background-color: white;
}
.box2nav5-btn:hover{
    font-weight: bold;
    width:115px ;
    height:55px ;
}
.spotify-playlist{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #1d1d1d;
}
.box2nav2{
    font-size: 17px;
    font-weight: 600;
}

.spotify-nav{
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
}

.nav-soft{
    font-size: 20px;
    font-weight: 900;
}
.card-container{
    height: 70vh;
    margin: 20px;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 70vh;
    overflow-y: scroll;
}
.card{
    margin: 16px;
    width: 13vw;
    height: 50vh;
    position: relative;
    background-color: #2f2f2f8c;
    max-height: 50vh;
}
.card img{
   
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    object-fit: contain;
}
.card h2{
    font-size: 15px;
    padding-left: 10px;
}
.card p{
    font-size: 12px;
    padding-left: 10px;
    font-family: sans-serif;
}


.circle-container {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1fdf64;
    right: 0;
    margin-top: 110px;
    opacity: 0;
    transition: all 1s ease-out;
    
    }

.svg-content {
    width: 70%;
  }

.playbar{
    position:fixed;
    width: 68vw;
    height: 10vh;
    bottom: 10px;
    margin-left: 10px;
    border-radius: 40px;
}
.song-btn{
    gap: 20px;
    padding-bottom: 13px;
}
.song-list{
    height: 50vh;
    width: 27vw;
    max-height: 50vh;
    overflow-y: scroll;
    padding-left: 17px;
}
.song-list ul li {
    list-style-type: decimal;
    gap: 10px;
    padding: 12px 5px;
    border: 1px solid white;
    border-radius: 10px;
    margin : 5px 5px;
    justify-content: space-between;
    font-size: 12px;
}
.info{
    width: 224px;
}

.seekbar{
    height: 4px;
    width: 60vw;
    background-color:  black;
    border-radius: 10px;
    position: absolute;
    bottom: 13px;
}

.circlebar{
    height: 11px;
    width: 11px;
    border-radius: 100px;
    background-color: white;
    position: absolute;
    bottom: -2.5px;
    left: -2px;
    transition: left 0.5s;
}