.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}
.hg{
    height: 100%;


}
.wd{
    width: 100%;
}
.gr{
    color: #aaaaaa;

}
.flexc{
    display: flex;
    flex-direction: column;
}
.fontf{
    font-family: sans-serif;
}
.lp{
   padding-left: 30px; 
}
.ggp{
    gap: 20px;
}
.ggp1{
    gap: 25px;
}
.fs{
    font-size: 11px;
}
.wh{
    color: white;
}
.arrowh{
    width: 17px;
}
.ggpt{
    padding-top: 10px;
}
.navl{
    font-size: 25px;
    color: #626262;
}
.cc{
    color: #171717;
}
.cp{
    cursor: pointer;

}
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #333; 
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #222; 
  }
  
  


